<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              
                <h1 align="left" class="tagline">ANECDOTIAC</h1>
                <h3 align="left" Life seems funnier when you share it.</h3>
                <p align="left"><a class="btn btn-primary btn-lg" href="#" role="button">Check It Out</a></p>
                
            </div>
        </div>
    </div>
</header>

 <div class="row">
    <div class="col-sm-8">
        <h2>What is Anecdotiac?</h2>
        <p>Life is not always easy, so it is good to be reminded that it is also fun.Here on this webpage you can share your life anecdotes. Something funny and worth sharing happened to you, share it here, so that we can laugh about it with you.</p>
        <h3>Become your own sitcom scriptwriter!</h3>
        <p>
        </p>
        <br>
        <br>
    </div>

<div class="container">
    <div class="row">
            <div class="col-sm-4">
                <%= image_tag 'laughter3.jpg', class: 'img-circle img-responsive img-center' %>
                <h2 style="text-align: center">Anecdotes Categories</h2>
                <p>Choose the category of anecdotes you feel like reading right now. Examples: family anecdotes, children anecdotes, work anecdotes, friends anecdotes etc. </p>
              <center>
              <%= link_to 'Choose Category', 'https://www.google.com', class: 'btn btn-primary btn-lg' %>
               </center>
            </div>
    
